.gird-container{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 50px 50px;
    gap: 10px;
    
}

.gird-item{
    background-color: chocolate;
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 30px;
}